@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    font-family: Poppins, sans-serif;
}

@keyframes flickerIn {
    0%, 36%, 60%, 96%, 100%{
        opacity: 1;
        animation-timing-function: steps(1, end);
    }
    12%, 48%, 72% {
        opacity: 0;
        animation-timing-function: steps(1, end);
    }
}
@keyframes flickerOut {
    0%, 36%, 60%, 100%{
        opacity: 0;
        animation-timing-function: steps(1, end);
    }
    12%, 48% {
        opacity: 1;
        animation-timing-function: steps(1, end);
    }
}

html, body {
    margin: 0;
    padding: 0;
}
#feedback {
    position: absolute;
    padding: 2em;
    bottom: 0;
}

#login {
    position: fixed;
    left: 50%;
    top: 50%;
    background: rgba(0, 0, 0, 0.1);
    transform: translate(-50%,-50%);
}
button {
    animation: 0.2s 1 normal forwards flickerIn;
    transition: backgroundColor 0.2s ease-out;
    border-radius: 5px;
}
button:hover {
    background: rgba(255, 255, 255, 0.1);
}
button:active {
    animation: 0.2s 1 normal forwards flickerOut;
}

button, .statusBar {
    padding: 1em;
    font-size: 1em;
}
.statusBar {
    color: white;
    display: inline-block;
    border-radius: 5px;
    animation: 0.2s 1 normal forwards flickerIn;
    animation-delay: 0.4s;
}
.actionBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding-top: 1em;
    transition: backgroundColor 0.5s ease-in-out;
}

#qrcode {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}