html, body {
    margin: 0;
    padding: 0;
}

#login {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-out;
}
#login:hover {
    background: rgba(255, 255, 255, 0.1);
}
#login:active {
    transform: scale(0.9);
}