@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    font-family: Poppins, sans-serif;
}

:root {
    --ease-out: cubic-bezier(0.0, 0.0, 0.2, 1);
    --ease-in-out: cubic-bezier(0.4, 0.0, 0.2, 1);
    --ease-in: cubic-bezier(0.4, 0.0, 1, 1);
}

@keyframes flickerIn {
    36%, 60%, 96%, 100%{
        opacity: 1;
        animation-timing-function: steps(1, end);
    }
    0%, 12%, 48%, 72% {
        opacity: 0;
        animation-timing-function: steps(1, end);
    }
}
@keyframes flickerOut {
    0%, 36%, 60%, 100%{
        opacity: 0;
        animation-timing-function: steps(1, end);
    }
    12%, 48% {
        opacity: 1;
        animation-timing-function: steps(1, end);
    }
}
@keyframes horizontalShake { /* https://unused-css.com/blog/css-shake-animation/ -- i go make my own later */
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#feedback {
    position: absolute;
    padding: 2em;
    bottom: 0;
}

#login {
    position: fixed;
    left: 50%;
    top: 50%;
    /* background: rgba(0, 0, 0, 0.1); */
    transform: translate(-50%,-50%);
}
button {
    background-color: white;
    animation: 0.2s 1 normal both flickerIn;
    border: none;
    border-radius: 5px;
    transform: translateY(-2px);
    filter: drop-shadow(0px 2px 2px black);
    transition: backgroundColor 0.2s var(--ease-out), transform 0.4s var(--ease-out), filter 0.4s var(--ease-out);
}
button:hover {
    background-color: #EEE;
    transform: translateY(-1px);
    filter: drop-shadow(0px 1px 1px black);
}
button:active, button.disabled, button:disabled {
    transform: none;
    filter: none;
}
button:not(.disabled):active {
    animation: 0.2s 1 normal both flickerOut;
}
button.disabled {
    opacity: 0.3 !important;
}

button, .statusBar {
    padding: 1em;
    font-size: 1em;
}
.statusBar {
    color: white;
    display: inline-block;
    border-radius: 5px;
    animation: 0.2s 0.4s 1 normal both flickerIn;
}
.actionBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 1em;
    /* transition: backgroundColor 0.5s var(--ease-in-out); */
}

.eventContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    max-height: 80%;
    overflow-y: scroll;
}
.event {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-right: 4px solid transparent;
    transition: background-color 0.2s var(--ease-out), border-color 0.2s var(--ease-out);
}
.event:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.event:hover > div {
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 2px dashed black;
}
.event > .title {
    width: 20%;
    text-align: center;
    font-weight: bold;
}
.event > .description {
    width: 50%;
    max-height: 4em;
    overflow-y: auto;
}
.event > .counter {
    width: 2em;
    text-align: center;
    font-family: monospace;
    animation: 0.2s 1 normal both flickerIn;
}
.event > div {
    border-bottom: 2px dashed transparent;
    transition: background-color 0.2s var(--ease-out), border-color 0.2s var(--ease-out);
}
.event > div:hover {
    background-color: white;
}
.event > button {
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.2s var(--ease-out);
}
/* disabling the button for selected */
.event.selected > button {
    opacity: 0.3 !important;
    /* transform: translate(-10px); */ /* the disabled indicator is a lot more obvious so no need to shift it*/
}
.event.selected {
    border-right: 4px solid bisque;
}
.event.selected > button:active, button.disabled:active { /* hehe shaky shaky */
    animation: 0.2s 1 normal both horizontalShake;
}

#qrcode {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: #fffa;
}

.floatUp {
    transform: translateY(-80%);
    opacity: 0.3;
    transition: all 0.2s var(--ease-out);
}
.floatUp:hover {
    transform: translateY(0);
    opacity: 1;
}

.slideIn {
    transform: translateY(120%);
    animation: 0.2s 0s 1 normal both flickerOut;
    transition: all 0.7s var(--ease-out);
}
.cardResult {
    padding: 1em;
    position: absolute;
    bottom: 1em;
    right: 3em;
    max-width: 50%;
    overflow-wrap: anywhere;
    /* border-top: 1px #0001 solid; */
    /* border-bottom: 3px black solid; */
    border-radius: 10px;
    background: lightyellow; /*linear-gradient(0deg, #0001, transparent 30%);*/
    filter: drop-shadow(0px 3px 2px black);
}
.cardResult > .bar {
    display: flex;
    justify-content: space-around;
    gap: 1em;
}
.cardResult .bar:not(:last-child) {
    border-bottom: 1px dashed;
}
.cardResult > .bar > .title {
    color: #0004;
    font-weight: bold;
    text-align: right;
    width: 8em;
}
.cardResult > .bar > .description {
    color: black;
    text-align: left;
    width: 12em;
}